/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */

body {
    margin: 0;
    /* font-family: 'Roboto', sans-serif; */
  }
  .sidebar {
    margin: 0;
    padding-left: 10px;
    width: 200px;
    background-color: #fff;
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 2;
  }
  
  .sidebar a {
    display: flex;
    color: #393E46;
    padding-left: 16px;
    padding-right: 16px;
    margin: 10px;
    height: 50px;
    text-decoration: none;
    align-items: center;
    border-radius: 30px;
    transition: background-color .2s;
  }
  .sidebar a.active {
    background-color: #8D32DB;
    color: #f8f9f8;
  }
  
  .sidebar a:hover:not(.active) {
    opacity: .8;
    background-color: #8D32DB;
    color: #f8f9f8;
  }
  .topbar {
    position: fixed;
    width: calc(100% - 200px);
    left: 200px;
    height: 70px;
    z-index: 3;
  }
  .rounded-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
  .rounded-img img {
    width: 100%;
  }
  .content {
    display: block;
    position: absolute;
    top: calc(50% + 70px);
    left: calc(50% + 200px);
    transform: translate(calc(-50% - 100px), calc(-50% - 35px));
    width: calc(100% - 250px);
    max-width: 1600px;
    height:calc(100% - 120px);
  }

  .content > .row > .mt-4{
    position: relative;
    height: 100%;
  }

  .btn-hover, .btn-hover-top {
    color: #8cc0f3;
    transform: scale(1);
    transition: color .2s, transform .2s;
  }
  
  .btn-hover:hover {
    color:#3e9fff;
    transform: rotate(10deg) scale(1.5);
  }
  
  .btn-hover-top:hover {
    color:#3e9fff;
    transform: scale(1.1);
  }
  
  .circular-portrait { position: relative; width: 60px; height: 60px; overflow: hidden; border-radius: 50%; }
  .circular-portrait img { width: 100%; height: auto; }
  
  .shadow-hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
  }
  .shadow-hover:hover{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .shadow-hover:active{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);
  }
  @media screen and (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: 70px;
      position: fixed;
      bottom: 0px;
      display: flex;
      justify-content: space-around;
      align-self: center;
      align-items: center;
      margin-top: 0;
      margin-bottom: 0;
      overflow-y: hidden;
    }
    .sidebar a:hover:not(.active) {
      opacity: .8;
      border-radius: 30px;
      align-self: center;
    }
    .sidebar a, .sidebar a.active{
        background-color: #f8f9f8;
        color: #393E46;
    }
    .topbar {
        left: 0;
        right: 0;
        width: 100%;
    }
    .sidebar a {float: center;}
    .content {
      position: fixed;
        top: 80px;
        left: 0;
        transform: translate(0,0);
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
  }
  
  @media screen and (max-width: 576px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    .content {padding-left: 10px;padding-right: 10px;}
  }